body {
    text-align: center;
   
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.main { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    width: 600px;
    height: 600px;
    
} 

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.red {
    background-color: #d95980;
}

.green {
    background-color: #63aac0;
}

.yellow {
    background-color: #f99b45;
}

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white;
}

.wrong {
    background-color: #ff4c4c !important;
    transition: background-color 0.2s;
}